.fundo {
   background-image: url("images/bg.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   height: 100vh;   
   /*Ajuste do Footer*/
   position: relative;
   padding-bottom: 58px;
   min-height: 100vh;
}


.menu-navigation-icons {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:0;
}

.menu-navigation-icons a {
    display: inline-block;
    color: #ffffff;
    background-color: #232526;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    width: 136px;
    height: 109px;
}

.menu-navigation-icons a:hover{
    opacity:0.92;
}

.menu-navigation-icons a i {
    display: block;
    line-height: 2;
}

.menu-navigation-icons a span {
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Menu colors */

.menu-navigation-icons a.menu-magenta	{ background-color: #F79520; }
.menu-navigation-icons a.menu-magenta i { color: #c26c10; }

.menu-navigation-icons a.menu-blue		{ background-color: #57b2d8; }
.menu-navigation-icons a.menu-blue i	{ color: #3e8fb1; }

.menu-navigation-icons a.menu-green		{ background-color: #8ccc7a; }
.menu-navigation-icons a.menu-green i	{ color: #6fad5e; }



/* Make this page responsive */

.slicknav_menu {
    display:none;
}

@media (max-width: 800px) {
    .menu-navigation-icons{
        display:none;
    }

    .slicknav_nav a i {
        display: none;
    }

    .slicknav_menu {
        display:block;
    }
}

/*FOOTER*/
footer a { 
text-decoration: none;   
text-align: center;
color:rgb(65, 63, 63);
padding: 20px;
position: absolute;
bottom: 0;
width: 100%;
}
